/CsharpProgramming/.vs/CSharpApplication/v15
/CsharpProgramming/*.suo
/CsharpProgramming/CSharpApplication/bin/Debug
/CsharpProgramming/CSharpApplication/obj/Debug
/CsharpProgramming/CSharpApplication/bin/Release
/CsharpProgramming/CSharpApplication/obj/Release
/ContentsWorkshop2/ConsoleTorus/.vs
/ContentsWorkshop2/ConsoleTorus/ConsoleTorus/x64/Debug
/ContentsWorkshop2/ConsoleTorus/x64/Debug
/ContentsWorkshop2/ConsoleTorus/ConsoleTorus/Debug
/ContentsWorkshop2/ConsoleTorus/Debug
/CsharpProgramming/.vs/CSharpApplication/v16/*.suo
